<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Musics Database</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Online music streaming</h1>
  <table id="table">
    <% musics.forEach((all) => { %>
        <tr>
        <td class="td"><%= all.id %></td>
        <td class="td"><%= all.title %></td>
        <td class="td"><%= all.artist %></td>
        <td class="td"><%= all.length %></td>
        <td class="td">
            <form action="/deleteMusic" method="post">
                <input type="hidden" value="<%= all.id%>" name="id">
                <button type="submit">Törlés</button>
            </form>
        </td>
        <td class="td">
            <form action="/modifyMusic" method="get">
                <!--<input type="hidden" value="<%# all.id%>" name="id">-->
                <button type="submit">Módosítás</button>
            </form>
        </td>
        
        </tr>
    <% }) %>
    </table>
</body>
</html>
